body{
    height: 8000px;
    background-color: #ffffff;

}


/*------------------Welcome Section------------------*/


#welcome_section{
    position: relative;
}

#welcome_svg_container{
    width: 100%;
    max-width: 2500px;
    margin: 0 0 0 auto;
}

#svg_background{
    z-index: -2;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
}
#welcome_section_content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 2500px;
}
#welcome_header{
    position: relative;
    margin-top: 10%;
    margin-left: 1rem;
    color: #4e4e4e;
    letter-spacing: 2px;
    font-size: 3em;
    padding: 0.5rem 1rem;
    margin-right: auto;
    border-radius: 3px;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}
#welcome_description{
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5em;
    color: #4e4e4e;
    padding: 0.5rem 1rem;
    margin-right: auto;
    border-radius: 3px;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}
#welcome_header::before, #welcome_description::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 3px;
}
#welcome_btns_container{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    flex-wrap: wrap-reverse;
    margin-top: 1rem;
    z-index: 2;
}
#scroll_down{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#scroll_down a{
    position: relative;
    bottom: 10px;
    z-index: 2;
    text-decoration: none;
    padding-top: 60px;
    color: #4e4e4e;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 18px;
    margin: auto auto 0 auto;
}
#scroll_down a span{
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #3b94db;
    border-radius: 50px;
    box-sizing: border-box;
}
#scroll_down a span::before{
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;  
}
#scroll_down a span::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #afdbff;
    border-radius: 50px;
    z-index: -1;
    opacity: 0.7;
}


/*------------------About me Section------------------*/


#about_me_section{
    margin-top: 1rem;
    overflow: hidden;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
}
#about_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
#about_me_content, #about_me_img{
    width: 45%;
    margin: 1rem 0;
}
#about_me_img img{
    height: 500px;
    margin-top: 4rem;
}
#about_me_img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#about_me_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#about_me_content h1{
    color: #72b6ff;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
#about_me_content p {
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 2.2rem;
    font-weight: 500;
}


/*------------------My Projects Section------------------*/


#my_projects_section{
    margin-top: 5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
}
#my_projects_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
#my_projects_content, #my_projects_svg{
    width: 45%;
    margin: 1rem 0;
}
#about_me_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#my_projects_content h1{
    color: #72b6ff;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
#my_projects_content p{
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 2.2rem;
    font-weight: 500;
}
#my_projects_svg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#my_projects_svg img{
    width: 100%;
    margin-top: 4rem;
    max-width: 550px;
}
#my_projects_boxes{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.project_box_column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.project_box_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    min-width: 300px;
}
.project_box{
    width: 40%;
    min-width: 280px;
    max-width: 340px;
    border: 1px solid #eaeaea;
    margin: 2rem 1px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 6px 11px 1px #c1c1c1;
    max-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgs_project_box{
    position: relative;
    height: 240px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden; 
}
.project_box_title{
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #eaeaea;
}
.project_box_description{
    border-bottom: 1px solid #eaeaea;
    padding: 0.5rem;
    text-align: center;
    color: #1f1f1f;
}
.project_box_call_to_action_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
}
#my_projects_btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2rem;
}

.aws-btn {
    --slider-height-percentage: 100% !important;
    --slider-transition-duration: 575ms !important;
    --organic-arrow-thickness: 3px !important;
    --organic-arrow-border-radius: 3px !important;
    --organic-arrow-height: 25px !important;
    --organic-arrow-color: #fff !important;
    --control-button-width: 10% !important;
    --control-button-height: 25% !important;
    --control-button-background: #000000a1 !important;
    --control-bullet-color: #6a6a6a !important;
    --control-bullet-active-color: #6a6a6a !important;
    --loader-bar-color: #419aff !important;
    --loader-bar-height: 6px !important;
}


/*------------------ Skills Section -------------------------*/

#skills_section{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
}
#skills_header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
#skills_content, #skills_illustration{
    width: 45%;
    margin: 1rem 0;
}
#skills_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#skills_content h1{
    color: #72b6ff;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
#skills_content p{
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 2.2rem;
    font-weight: 500;
}
#skills_illustration{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#skills_illustration #skill_svg {
    width: 100%;
    margin-top: 4rem;
    max-width: 300px;
}
.skills_animation{
    -webkit-animation: skills_anim 3s ease-in-out infinite;
    animation: skills_anim 3s ease-in-out infinite;
}
#skills_lists{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.skills_cat{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}


/* --------------- Skills Circle Chart ------------------ */


.card  {
    margin: 10px;
    background-color: #2196f3 !important;
    color: #ffffff !important;
    height: 270px;
  }
  
.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 85%;
    max-height: 250px;
    padding: 10px 0;
}
    
.circle-bg {
    fill: none;
    stroke: #88caff;
    stroke-width: 3.8;
}
    
.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
   // animation: progress 4s linear;
}
  
.single-chart{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}
  
.SingleChartTitle{
    color: #fff !important;
    letter-spacing: 4px !important;
    margin: 30px 10px !important;
    text-transform: uppercase;
    font-size: 1rem !important;
    font-weight: bold !important;
}

@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}
  
.circular-chart.white .circle {
    stroke: #fff;
}

.percentage {
    font-family: sans-serif;
    font-size: 0.4em;
    text-anchor: middle;
}

.percentage.white{
    fill: #fff;
}

.Card_item{
    width: 200px !important;
    margin: 20px 30px !important;
    text-align: center;
}



/* ------------------- Contact Section  ------------------------- */


#contact_section{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
}

#contact_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

#contact_content, #contact_svg{
    width: 45%;
    margin: 1rem 0;
}

#contact_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contact_header h1{
    color: #72b6ff;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

#contact_svg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 300px;
}

#contact_svg img{
    width: 100%;
    margin-top: 4rem;
    max-width: 400px;
    min-width: 300px;
}

.formControll{
    display: flex;
    margin: 20px 0;
    flex-direction: column;
    width: 50%;
    min-width: 250px;
    max-width: 400px;
}


.react-phone-number-input__icon{
    width: 40px !important;
    height: 30px !important; 
}

.react-phone-number-input__input:focus{
    border-color: #303f9f !important;
}

.SelectPhone{
    padding-right: 0 !important
}


@keyframes skills_anim{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(70px);
    }
}

@-webkit-keyframes skills_anim{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(70px);
    }
}

@-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@media(max-width: 1120px){
    .column-2{
        display: none;
    }
}

@media(max-width: 600px){
    #welcome_section_content {
        position: relative;
        margin-bottom: 3rem;
    }
    #welcome_header{
        margin-top: -40%;
        margin-left: auto
    }
    #welcome_description{
        margin-left: auto;
    }
    #welcome_btns_container{
        margin-right: 0;
        justify-content: center;
    }
}
@media(max-width: 400px){
    #welcome_header{
        font-size: 2em
    }
    #welcome_description{
        font-size: 1em;
    }
    #scroll_down span{
        bottom: 0;
    }
}

@media(max-width: 920px){
    #scroll_down{
        position: relative;
        height: 100px;
        margin-top: -10%;
    }
}

@media(max-width: 770px){
    #about_container, #my_projects_container, #skills_header, #contact_container{
        flex-direction: column;
        align-items: center;
    }
    #about_me_content, #my_projects_content, #skills_content, #contact_content{
        width: 90%;
    }
    #about_me_img, #my_projects_svg, #skills_illustration{
        width:90%;
        justify-content: center;
    }
    #about_me_img img{
        margin-top: 0;
        height: 400px;
    }
    #my_projects_svg img, #skills_illustration #skill_svg{
        margin-top: 0;  
    }
    #about_me_content h1, #my_projects_content h1, #skills_content h1{
        margin-bottom: 1rem;
    }
    #about_me_content p, #my_projects_content p, #skills_content p{
        font-size: 16px;
        margin-bottom: 1rem;
        line-height: 1.8rem;
    }
    #my_projects_boxes{
        padding-bottom: 0;
    }
    .formControll{
        margin: 20px auto;
    }
}

@media(max-height: 520px){
    #welcome_header{
        margin-top: -40%;
        margin-left: auto
    }
}
@media(min-width: 601px){
    #welcome_header{
        margin-top: 10%;
        margin-left: 1rem
    }
}