body{
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}


/*------------------ Skills Section -------------------------*/

.skills_animation{
    -webkit-animation: skills_anim 3s ease-in-out infinite;
    animation: skills_anim 3s ease-in-out infinite;
}


/* --------------- Skills Circle Chart ------------------ */


@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}
  

/* ------------------- Contact Section  ------------------------- */


.react-phone-number-input__icon{
    width: 40px !important;
    height: 30px !important; 
}

.react-phone-number-input__input:focus{
    border-color: #303f9f !important;
}

.SelectPhone{
    padding-right: 0 !important
}

/* ------------------- Dashboard Chart ---------------- */


.overlay {
  fill: none;
  pointer-events: all;
  transition: 0.5s ease-in;
}

.focus circle {
  fill: steelblue;
}

.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-date, .tooltip-likes {
  font-weight: bold;
}


@keyframes skills_anim{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(70px);
    }
}

@-webkit-keyframes skills_anim{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(70px);
    }
}

@-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

@media(max-width: 1120px){
    .column-2{
        display: none;
    }
}



